/* General settings */

*{
    box-sizing: border-box;
}

body{
    margin: 0px auto;
}

p{
    font-family: Roboto,  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin: 40px 0 0 0;
}

h2 + p{
    margin: 16px 0 0 0;
}

h1{
    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}

h2{
    font-family: 'Roboto',  sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    margin: 0;
}

.backgroung{
    width: 100%;
}

.block{
    width: 80%;
    max-width:1219px;
    margin: 0px auto;
    padding: 0 55px;
}

/* Header settings */

.backgroung.header{
    background-color: #007765;
    position: fixed;
    height: 84px;
}

.header_empty{
    height: 84px;
}

.header .block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 55px 20px;
}

.logo{
    left: 55px;
    margin: 0;
}

.header .block p{
    right: 55px;
    top: 28px;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.header a, .header a:visited, .header a:active{
    color: #FFFFFF;
}

/* Jumbotron settings */

.jumbotron{
    background-image: url(images/Jumbotron.jpg);
    background-size: cover;

}

.jumbotron .block{
    padding: 160px 55px 160px;
}

/* The_problem, PPC settings */

.the_problem, .the_team
{
    background: #EEEEEE;
}

.the_problem .block, .ppc .block
{
    padding: 48px 55px 92px;
}

.ppc img + p
{
    margin: 16px 0 0 0;
}

.ppc img
{
    float: left;
    margin: 16px 48px 0 0;
}

/* Hero settings */

.hero .block{
    padding: 128px 55px 128px;
}

.hero
{
    background-image: url(images/Hero.jpg);
    background-size: cover;

}

.hero p
{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

/* The_team settings */

.the_team .block{
    padding: 48px 40px 92px;
}

.team_member_deck
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
    justify-content: center;
    align-items: center;
}

.team_member_card
{
    width: 350px;
    height: 283px;
}

.team_member_card img
{
    width: 168px;
    height: 168px;
    margin: 24px 91px 0;
}

.name
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #007765;
    margin: 12px 0 0;
}

.post
{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px; 
    text-align: center;
    margin: 0 auto 28px; 
}

/* Basement settings */

.basement
{
    background-color: #333333;
    padding: 48px 55px 64px;
}

.basement p
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 295px;
}